server:
  port: ${PORT:8080}
  error:
    include-message: always

spring:
  datasource:
#    driver-class-name: org.postgresql.Driver
#    url: jdbc:postgresql://localhost:5432/pullm
#    username: postgres
#    password: postgres
    url: jdbc:h2:mem:pullm
    username: sa
    password: password
    driverClassName: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update

  liquibase:
    change-log: classpath:liquibase/changelog-master.yml
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: ucon.office@gmail.com
    password: wbxsfsqmcfgvyxvt
    properties:
      mail:
        smtp:
          auth: true
#          connectiontimeout: 5000
#          timeout: 5000
#          writetimeout: 5000
          starttls:
            enable: true
#          socketFactory:
#            port: 465
#            class: javax.net.ssl.SSLSocketFactory

springdoc:
  show-login-endpoint: true

cors:
  allowed-origins: "*"
  allowed-methods: "*"
  allowed-headers: "*"
  exposed-headers: "*"

management:
  health:
    mail:
      enabled: false

#logging:
#  level:
#    root: debug